*{ box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Variables pour le thème */
:root {
    --gold: #D4AF37; 
    --dark-bg: #1A1A1A;
}

/* Titre en Or */
.text-gold {
    color: var(--gold);
    font-family: 'Serif Elegant', Georgia, serif; 
}

/* ========================================================================
 le style des boutons: tout catégories ,plats, entrée, desserts et boisson
 ========================================================================= */
.btn-gold {
    background-color: var(--gold);
    color: var(--dark-bg);
    border-color: var(--gold);
}
.btn-gold:hover {
    background-color: transparent;
    color: var(--gold);
}
.btn-outline-gold {
    color: var(--gold);
    border-color: var(--gold);
}
.btn-outline-gold:hover{
    background-color: var(--gold);
    color: var(--dark-bg);
}

/*  ========================================================================= 
 le style des cartes  
 ========================================================================= */
.card.border-gold {
    border: 1px solid rgba(212, 175, 55, 0.3) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card.border-gold:hover {
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    transform: translateY(-5px); /* Léger effet de survol */
}
 .card-img-top {
    height: 350px; /* Hauteur uniforme pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre la zone sans déformation */
} 














